main{
    @extend %placeholder1;
    background-color: $colorPrincipal;
    @include size (100%, auto);
    /*inicio index*/
    .contenedor-index{
        @extend %placeholder1;
        background-color: $colorPrincipal;
        @include size (auto, auto);
        .texto-principal p{
            margin: 30px;
            min-height: 50vh;
            font-size: large;
            font-style: italic;
            text-align: center;
            padding: 10px;
            border: 10px ridge $colorSecundario;
            grid-area: main;
        }
        .foto-principal{
            grid-area: main;
            img{
                float: right;
                margin: 10px;
                max-height: 65vh;
                border: $colorSecundario 1px double;
            }
            img:hover{
                transform: scale(1.02,1.02);
            }
        }
    }
    /*final index*/
    /*inicio trayectoria*/
    .contenedor-trayectoria{
        @extend %placeholder1;
        .izquierda-trayectoria{
            display: block;
            @include size (50% , auto);
            margin-left: 100px;
            margin-top: 10px;
            .tabla{
                border: $colorSecundario 5px inset;
                @include size (50%, auto);
                margin-top: 10px;
                grid-area: main;
                th, td{
                    border: solid 1px $colorLink;
                    padding: 5px;
                }
            }
            .imagen-trayectoria img{
                @extend %placeholder1;
                justify-content: left;
                margin-top: 30px;
                border: $colorSecundario 5px outset;
                margin-left: 150px;
                margin-bottom: 60px;
                grid-area: main;
            }
            .imagen-trayectoria img:hover{
                transform: skewX(10deg);
            }
        }
        .palmares{
            justify-content: right;
            margin: 10px;
            padding: 5px;
            border: $colorSecundario 10px ridge;
            grid-area: main;
            h2{
                text-align: center;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow',     Arial, sans-serif;
                font-size: 2em;
                color: $colorTerciario;
            }
            ul li{
                font-family: Arial, Helvetica, sans-serif;
                font-size: medium;
                list-style-type: square;
                list-style-position: inside;
                margin-top: 10px;
            }
        }
    }
    /*final trayectoria**/
    /*inicio wallpapers*/
    .contenedor-wallpapers{
        @extend %placeholder1;
        .wallpapers{
            @include size (50%, 50%);
            h2{
                text-align: center;
                margin-right: 150px;
                margin-top: 5px;
                margin-bottom: 5px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 1.5em;
                color: #3a266f;
            }
            .imagenes-wallpapers{
                display: inline-block;
                justify-content: space-around;
                @include size (150px, 200px);
                margin-left: 80px;
                border: #674EA7 1px solid;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            img:hover{
                transform: scale(1.05,1.05);
            }
        }
        .video-highlights{
            iframe{
                margin: 10px;
            }
            h2{
                margin: 20px;
                text-align: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 1.5em;
                color: #3a266f;
            }
        }
    }
    /*final wallpapers*/
    /*inicio tienda*/
    .imagenes-tienda{
        @extend %placeholder1;
        .imagenes-tienda-items{
            display: inline-block;
            margin-top: 5px;
            justify-content: center;
            align-items: center;
            margin-left: 230px;
            img{
                @include size (150px, 150px);
                border: #3a266f 2px solid;
                margin-top: 20px;
                margin-bottom: 5px;
            }
            img:hover{
                transform: scale(1.05,1.05);
            }
        }
    }
    /*final tienda*/
    /*inicio contacto*/
    .formulario{
        @extend %placeholder1;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        fieldset{
            background-color: #674EA7;
            border: #3a266f 10px ridge;
            div{
                margin: 5px;
                padding: 1px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: medium;
            }
            img{
                margin-left: 270px;
                margin-top: 5px;
            }
            h2{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 2em;
                margin-left: 10px;
                margin-bottom: 20px;
            }
            img:hover{
                transform: scale(1.05,1.05);
            }
        }
    }
    /*final contacto*/
}